# Este es un archivo de ejemplo. Copia este archivo a .env y rellena los valores.
# El archivo .env NO debe ser subido a Git.

ADMIN_PASSWORD=admin123
SESSION_SECRET=un-secreto-muy-secreto-que-deberia-estar-en-env-y-ser-mas-largo